
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accrnt-color: #2196F3;
    --primary-background-color: #FFFFFF;
    --two-background-color: #F5F4FA;
    --hero-background-color: #2F303A; 
    --primary-logo-color: #000000;
    --primary-tel-mail: rgba(255, 255, 255, 0.6);
}



/* index.html */



.body-main {
    background: var(--primary-background-color);
    color: var(--primary-text-color);

    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Утиилиты */

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.accent {
    color: var(--accrnt-color)
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-bottom: 0px;
    padding-top: 0px;
    /* outline: 2px solid green; */
}

.hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/* main */



    /* logo */

.logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

    /* main - logo - header */

.logo.header {
    color: var(--primary-logo-color);
}

    /* main - logo - footer */

.logo.footer {
    color: var(--primary-background-color);
}

/* main - header */
.page-header {
    height: 80px;
    left: 0px;
    top: 0px;
}

.main-nav {
    display: flex;
    align-items: center;
}

    /* site-nav */

.site-nav {
    display: flex;
    margin-left: 70px;
}

.site-nav .item+.item {
    margin-left: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    text-decoration: none;
    font-weight: 500;

    color: var(--title-text-color);
}

.site-nav .link.current {
    color: var(--accrnt-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accrnt-color);
}

    /* auth-nav */

.auth-nav {
    display: flex;
    margin-left: auto;
}

.auth-nav .item+.item {
    margin-left: 50px;
}

.auth-nav a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.auth-nav .link {
    color: var(--primary-text-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accrnt-color);
}



/* hero */

.hero {
    background: var(--hero-background-color);

    margin-top: 0px;
    height: 600px;
    left: 0px;
    text-align: center;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    padding-top: 200px;
    padding-bottom: 30px;

    color: var(--primary-background-color);
}

/* кнопка основного меню button */

.button {
    width: 200px;
    height: 50px;
    margin-bottom: 200px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;


    color: var(--primary-background-color);
    background: var(--accrnt-color);

    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover,
.button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    color: var(--primary-background-color);
    background: var(--accrnt-color);
    opacity: 0.8
    
}

/* all   section */

.section {
    color: var(--primary-text-color);
}

.section-title,
.section-title-centered {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
} 

/* Особенности */

.peculiarities .title{
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.peculiarities {
    display: flex;
    flex-wrap: wrap;
}
.peculiarities .item{
    width: 270px;
    margin-top: 94px;
    margin-bottom: 94px;
}
.peculiarities .item+.item {
    margin-left: 30px;
}
.peculiarities > .title {
    margin-top: 0;
    margin-bottom: 24px;
}


/* Чем мы занимаемся */
.whatarewedoing {
    display: flex;
    flex-wrap: wrap;
}

.whatarewedoing .item {
    width: 370px;
    margin-bottom: 94px;
}

.whatarewedoing .item+.item {
    margin-left: 30px;
}
.container>.section-title.centered {
    padding-top: 94px;
    margin-top: -94px;
    margin-bottom: 50px;
}

/* Наша команда */

.section-team {
    background: var(--two-background-color);
}

.section-team>.container {
    margin-top: -94px;
}

.our-team {
    text-align: center;
    display: flex;
}

.section-title-centered {
    padding-top: 94px;
    margin-top: 94px;
    margin-bottom: 50px;
}

.cards {
    width: 270px;
    height: 368px;

    background-color: var(--primary-background-color);
}

.our-team .item+.item {
    margin-left: 30px;
    margin-bottom: 94px;
}

.our-team .title,
.our-team p {
    color: var(--title-text-color);
}

/* footer */

.footer {
    background: var(--hero-background-color);
    color: var(--primary-background-color);
}
.footer-auth {
    text-decoration: none;

    color: var(--primary-tel-mail);
}
.footer-auth:focus,
.footer-auth:hover {
    color: var(--accrnt-color);
}

.adress {
    font-weight: 400;
    font-style: normal;
}

.footer-cards {
    display: flex;
}

.footer>.container {
    height: 252px;
}

.container>.logo.footer{
    display: block;
    padding-top: 60px;
    padding-bottom: 20px;
}

.foot-item>.item>p{
    margin-bottom: 9px;
    margin-top: 0px;
}

.foot-item .item+.item {
    display: block;
    padding-top: 0px;
    padding-bottom: 9px;
}


/* portfolio.html */

/* main */

.portfolio {
    padding-bottom: 94px;
}

    /* portfolio button */
    
.buttons {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;

    color: var(--title-text-color);
    background: var(--two-background-color);

    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttons:hover,
.buttons:focus {
    color: var(--primary-background-color);
    background: var(--accrnt-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
}


    /* portfolio galery */

.list.filter {
    padding-top: 94px;
    text-align: center;
    padding-bottom: 34px;
}

.list.filter>li {
    display: inline-block;
}

.list.filter .item+.item {
    margin-left: 8px;
}

.scroll {
    color: var(--primary-text-color);
}


.scroll a {
    text-decoration: none;
}

.scroll p {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.88;

    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 20px;
    margin-top: 4px;
}

.scroll.title {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 0px;
    margin-top: 20px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--title-text-color);
}

.scroll.list {
    display: flex;
    flex-flow: row wrap;
}

.scroll-cards {
    height: 404px;
    width: 370px;

    background: var(--primary-background-color);
    border: 1px solid #EEEEEE;
}


.scroll.list .item+.item {
    margin-right: 29px;
    margin-bottom: 30px;
}






    /* javascript */

    .hide {
    opacity: 1;
    animation-name: a1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes a1 {
    to {
        opacity: 0;
        min-height: 0;
        min-width: 0;
        padding: 0;
        margin: 0;
        border: 0;
    }
}

