
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accrnt-color: #2196F3;
    --primary-background-color: #FFFFFF;
    --two-background-color: #F5F4FA;
    --hero-background-color: #2F303A; 
    --primary-tel-mail: rgba(255, 255, 255, 0.6);
}


.list {
    list-style: none;
}

.accent{
    color: var(--accrnt-color)
}



/* index.html */


/* main */

.body-main {
    background: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
}

/* logo */

.logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
}

    /* main - logo - header */

.logo.header {
    color: #000000;
}

    /* main - logo - footer */

.logo.footer {
    color: var(--primary-background-color);
}

/* main - header */

.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link.current {
    color: var(--accrnt-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accrnt-color);
}

.auth-nav a {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.auth-nav .link {
    color: var(--primary-text-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accrnt-color);
}


/* hero */

.hero {
background: var(--hero-background-color);
}

.hero-title {
    color: var(--primary-background-color);
}

/* кнопка основного меню */

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-background-color);
    background: var(--accrnt-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover,
.button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--primary-background-color);
    background: var(--accrnt-color);
    opacity: 0.8
    
}

/* all   section */

.section {
    color: var(--primary-text-color);
}

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
} 

/* Особенности */

.Peculiarities .title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* Наша команда */

.section-team {
    background: var(--two-background-color);
}

.our-team .title{
color: var(--title-text-color);
}

/* footer */

.footer {
    background: var(--hero-background-color);
    color: var(--primary-background-color);
}
.footer-auth {
    color: var(--primary-tel-mail);
}
.footer-auth:focus,
.footer-auth:hover {
    color: var(--accrnt-color);
}

/* portfolio.html */


/* main */

    /* portfolio button */
    
.buttons {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background: var(--two-background-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttons:hover,
.buttons:focus {
    color: var(--primary-background-color);
    background: var(--accrnt-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
}


    /* portfolio galery */
.section .portfolio-title {
    color: var(--primary-background-color);
}

.scroll {
    color: var(--primary-text-color);
}

.scroll.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

